<div id="processos">

    <!-- seção de menus internos -->
    <section id="processos__sidebar">
        <div class="nav-container">
            <div class="nav-links">
                <div class="nav-link" (click)="setView('consultar')">
                    <mat-icon class="icon" aria-hidden="false" aria-label="Consulta tabela" fontIcon="search"></mat-icon>
                    <span>Consultar</span>
                </div>
                <mat-divider></mat-divider>
                <div class="nav-link" (click)="setView('cadastrar')">
                    <mat-icon class="icon" aria-hidden="false" aria-label="Enviar" fontIcon="cloud_upload"></mat-icon>
                    <span>Enviar</span>
                </div>
                <mat-divider></mat-divider>
                <div class="nav-link" (click)="setView('receber')">
                    <mat-icon class="icon" aria-hidden="false" aria-label="Receber" fontIcon="cloud_download"></mat-icon>
                    <span>Receber</span>
                </div>
                <mat-divider></mat-divider>
                <div class="nav-link" (click)="setView('alterar')">
                    <mat-icon class="icon" aria-hidden="false" aria-label="Alterar" fontIcon="sync"></mat-icon>
                    <span>Alterar</span>
                </div>
                <mat-divider></mat-divider>
                <div class="nav-link" (click)="setView('deletar')">
                    <mat-icon class="icon" aria-hidden="false" aria-label="Deletar" fontIcon="delete"></mat-icon>
                    <span>Deletar</span>
                </div>
                <mat-divider></mat-divider>
                <div class="nav-link" (click)="setView('analisar')">
                    <mat-icon class="icon" aria-hidden="false" aria-label="Analisar" fontIcon="remove_red_eye"></mat-icon>
                    <span>Analisar</span>
                </div>
                <mat-divider></mat-divider>
            </div>
        </div>
    </section>
    <!-- fim da seção de menus internos -->

    <!-- seção de formulário de processo -->
    <section id="processos__form">    
        <ng-container [ngSwitch]="viewSelect">
            
            <!-- Consultar -->
            <div id="processos__form__consultar" *ngSwitchCase="'consultar'">
                <div>
                    <div class="form-control">
                        <mat-form-field appearance="outline">
                            <mat-label>Unidade gestora</mat-label>
                            <mat-select [(ngModel)]="unidadeGestoraSelecionada" name="unidadeGestora">
                                <mat-option *ngFor="let unidadeGestora of unidadesGestoras" [value]="unidadeGestora">
                                    {{ unidadeGestora }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="form-control">
                        <mat-form-field appearance="outline">
                            <mat-label>Número do processo</mat-label>
                            <input 
                                matInput 
                                placeholder="0000000-00.0000.0.00.0000" 
                                [textMask]="{mask: maskProcesso}"
                                [(ngModel)]="processo"
                            />
                        </mat-form-field>
                    </div>
                    <div class="form-control">
                        <button 
                            mat-raised-button 
                            color="primary" 
                            (click)="getProcesso()"
                            >
                                Pesquisar
                            </button>
                    </div>
                </div>
                <div>
                    <Message 
                        icon="info"
                        type="info" 
                        text="Nenhum processo encontrado" 
                        *ngIf="!processoResponse"
                    />
                    <div>
                        <app-processo [processo]="processoResponse"/>
                    </div>
                </div>
            </div>
            <!-- /consultar -->

            <!-- cadastrar -->
            <div id="processos__form__cadastrar" *ngSwitchCase="'cadastrar'">
                <div>
                    <div class="form-control">
                        <mat-form-field appearance="outline">
                            <mat-label>Unidade gestora</mat-label>
                            <mat-select [(ngModel)]="unidadeGestoraSelecionada" name="unidadeGestora">
                                <mat-option *ngFor="let unidadeGestora of unidadesGestoras" [value]="unidadeGestora">
                                    {{ unidadeGestora }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>                   
                    <div class="form-control">
                        <mat-form-field appearance="outline">
                            <mat-label>Tipo do plano</mat-label>
                            <mat-select [(ngModel)]="planoTipoSelecionado" name="planoTipo">
                                <mat-option *ngFor="let planoTipo of planosTipo" [value]="planoTipo">
                                    {{ planoTipo }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="form-control">
                        <mat-form-field appearance="outline">
                            <mat-label>Ano e mês do plano</mat-label>
                            <input 
                                matInput 
                                placeholder="YYYY/MM" 
                                [textMask]="{mask: maskPlanoAnoMes}"
                                [(ngModel)]="planoAnoMes"
                            />
                        </mat-form-field>
                    </div>
                    <div class="form-control">
                        <mat-form-field appearance="outline">
                            <mat-label>Ano e mês da fase</mat-label>
                            <input 
                                matInput 
                                placeholder="YYYY/MM" 
                                [textMask]="{mask: maskPlanoAnoMes}"
                                [(ngModel)]="faseAnoMes"
                            />
                        </mat-form-field>
                    </div>
                    <div class="form-control">
                        <button 
                            mat-raised-button 
                            color="primary" 
                            (click)="postProcesso()"
                        >
                            Enviar
                        </button>
                    </div>
                </div>
                <div>
                    <!-- <Message 
                        icon="warning"
                        type="danger" 
                        text="Não foi possível alterar o processo" /> -->
                        <div>{{ unidadeGestoraSelecionada }}</div>
                        <div>{{ planoTipoSelecionado }}</div>
                        <div>{{ planoAnoMes }}</div>
                        <div>{{ faseAnoMes }}</div>
                        <div>{{ processosSelecionados | json }}</div>
                </div>
            </div>
            <!-- /cadastar -->

            <!-- alterar -->
            <div id="processos__form__alterar" *ngSwitchCase="'alterar'">
                <div>
                    <div class="form-control">
                        <mat-form-field appearance="outline">
                            <mat-label>Unidade gestora</mat-label>
                            <mat-select [(ngModel)]="unidadeGestoraSelecionada" name="unidadeGestora">
                                <mat-option *ngFor="let unidadeGestora of unidadesGestoras" [value]="unidadeGestora">
                                    {{ unidadeGestora }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>                   
                    <div class="form-control">
                        <mat-form-field appearance="outline">
                            <mat-label>Tipo do plano</mat-label>
                            <mat-select [(ngModel)]="planoTipoSelecionado" name="planoTipo">
                                <mat-option *ngFor="let planoTipo of planosTipo" [value]="planoTipo">
                                    {{ planoTipo }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="form-control">
                        <mat-form-field appearance="outline">
                            <mat-label>Ano e mês do plano</mat-label>
                            <input 
                                matInput 
                                placeholder="YYYY/MM" 
                                [textMask]="{mask: maskPlanoAnoMes}"
                                [(ngModel)]="planoAnoMes"
                            />
                        </mat-form-field>
                    </div>
                    <div class="form-control">
                        <mat-form-field appearance="outline">
                            <mat-label>Ano e mês da fase</mat-label>
                            <input 
                                matInput 
                                placeholder="YYYY/MM" 
                                [textMask]="{mask: maskPlanoAnoMes}"
                                [(ngModel)]="faseAnoMes"
                            />
                        </mat-form-field>
                    </div>
                    <div class="form-control">
                        <button 
                            mat-raised-button 
                            color="primary" 
                            (click)="patchProcesso()"
                        >
                            Alterar
                        </button>
                    </div>
                </div>
                <div>
                    <Message 
                        icon="warning"
                        type="danger" 
                        text="Não foi possível alterar o processo" />
                </div>
            </div>
            <!-- /alterar -->

            <!-- deletar -->
            <div id="processos__form__deletar" *ngSwitchCase="'deletar'">
                <div>
                    <div class="form-control">
                        <mat-form-field appearance="outline">
                            <mat-label>Número do processo</mat-label>
                            <input 
                                matInput 
                                placeholder="0000000-00.0000.0.00.0000" 
                                [textMask]="{mask: maskPlanoAnoMes}"
                                [(ngModel)]="processo"
                            />
                        </mat-form-field>
                    </div>
                    <div class="form-control">
                        <mat-form-field appearance="outline">
                            <mat-label>Unidade gestora</mat-label>
                            <mat-select [(ngModel)]="unidadeGestoraSelecionada" name="unidadeGestora">
                                <mat-option *ngFor="let unidadeGestora of unidadesGestoras" [value]="unidadeGestora">
                                    {{ unidadeGestora }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="form-control">
                        <mat-form-field appearance="outline">
                            <mat-label>Tipo do plano</mat-label>
                            <mat-select [(ngModel)]="planoTipoSelecionado" name="planoTipo">
                                <mat-option *ngFor="let planoTipo of planosTipo" [value]="planoTipo">
                                    {{ planoTipo }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="form-control">
                        <mat-form-field appearance="outline">
                            <mat-label>Ano e mês do plano</mat-label>
                            <input 
                                matInput 
                                placeholder="YYYY/MM" 
                                [textMask]="{mask: maskPlanoAnoMes}"
                                [(ngModel)]="planoAnoMes"
                            />
                        </mat-form-field>
                    </div>
                    <div class="form-control">
                        <mat-form-field appearance="outline">
                            <mat-label>Ano e mês da fase</mat-label>
                            <input 
                                matInput 
                                placeholder="YYYY/MM" 
                                [textMask]="{mask: maskPlanoAnoMes}"
                                [(ngModel)]="faseAnoMes"
                            />
                        </mat-form-field>
                    </div>                                        
                    <div class="form-control">
                        <button 
                            mat-raised-button 
                            color="primary" 
                            (click)="deleteProcesso()"
                        >
                            Deletar
                        </button>
                    </div>
                </div>
                <div>
                    <Message
                        icon="warning"
                        type="danger" 
                        text="Atenção! A ação não poderá ser desfeita" 
                    />                    
                </div>
            </div>
            <!-- /deletar -->

            <!-- receber -->
            <div id="processos__form__receber" *ngSwitchCase="'receber'">
                <div>
                    <div class="form-control">
                        <mat-form-field appearance="outline">
                            <mat-label>Número do processo</mat-label>
                            <input 
                                matInput 
                                placeholder="0000000-00.0000.0.00.0000" 
                                [textMask]="{mask: maskPlanoAnoMes}"
                                [(ngModel)]="processo"
                            />
                        </mat-form-field>
                    </div>
                    <div class="form-control">
                        <mat-form-field appearance="outline">
                            <mat-label>Unidade gestora</mat-label>
                            <mat-select [(ngModel)]="unidadeGestoraSelecionada" name="unidadeGestora">
                                <mat-option *ngFor="let unidadeGestora of unidadesGestoras" [value]="unidadeGestora">
                                    {{ unidadeGestora }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="form-control">
                        <mat-form-field appearance="outline">
                            <mat-label>Tipo do plano</mat-label>
                            <mat-select [(ngModel)]="planoTipoSelecionado" name="planoTipo">
                                <mat-option *ngFor="let planoTipo of planosTipo" [value]="planoTipo">
                                    {{ planoTipo }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="form-control">
                        <mat-form-field appearance="outline">
                            <mat-label>Ano e mês do plano</mat-label>
                            <input 
                                matInput 
                                placeholder="YYYY/MM" 
                                [textMask]="{mask: maskPlanoAnoMes}"
                                [(ngModel)]="planoAnoMes"
                            />
                        </mat-form-field>
                    </div>
                    <div class="form-control">
                        <mat-form-field appearance="outline">
                            <mat-label>Ano e mês da fase</mat-label>
                            <input 
                                matInput 
                                placeholder="YYYY/MM" 
                                [textMask]="{mask: maskPlanoAnoMes}"
                                [(ngModel)]="faseAnoMes"
                            />
                        </mat-form-field>
                    </div>                                        
                    <div class="form-control">
                        <button 
                            mat-raised-button 
                            color="primary" 
                            (click)="deleteProcesso()"
                        >
                            Deletar
                        </button>
                    </div>
                </div>
                <div>
                    <Message 
                        icon="warning"
                        type="danger" 
                        text="Atenção! A ação não poderá ser desfeita" 
                    />
                </div>
            </div>
            <!-- /receber -->

            <!-- analisar -->
            <div id="processos__form__analisar" *ngSwitchCase="'analisar'">
                <div>
                    <div class="form-control">
                        <mat-form-field appearance="outline">
                            <mat-label>Unidade gestora</mat-label>
                            <mat-select [(ngModel)]="unidadeGestoraSelecionada" name="unidadeGestora">
                                <mat-option *ngFor="let unidadeGestora of unidadesGestoras" [value]="unidadeGestora">
                                    {{ unidadeGestora }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="form-control">
                        <mat-form-field appearance="outline">
                            <mat-label>Tipo do plano</mat-label>
                            <mat-select [(ngModel)]="planoTipoSelecionado" name="planoTipo">
                                <mat-option *ngFor="let planoTipo of planosTipo" [value]="planoTipo">
                                    {{ planoTipo }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>       
                    <div class="form-control">
                        <button 
                            mat-raised-button 
                            color="primary" 
                            (click)="displayAddProcessoAnaliseFrame()"
                        >
                            Adicionar processos
                        </button>
                    </div>                                                  
                    <div class="form-control">
                        <button 
                            [disabled]="!processosAnalise.length"
                            mat-raised-button 
                            color="primary" 
                            (click)="deleteProcesso()"
                        >
                            Enviar
                        </button>
                    </div>
                </div>
                <div>
                    <Message 
                        icon="info"
                        type="info" 
                        text="Preencha o formulário e adicione os processos a serem analisados" 
                    />
                    <div class="body-container">
                        <app-form-analise></app-form-analise>
                    </div>
                </div>
            </div>
            <!-- /analisar -->

        </ng-container>
    </section>
    <!-- fim da seção de formulário de processo -->
</div>