<div id="processos">
    <section id="processos__sidebar">
        <div class="nav-container">
            <div class="nav-links">
                <div class="nav-link" (click)="setView('consultar')">
                    <mat-icon class="icon" aria-hidden="false" aria-label="Consulta tabela" fontIcon="search"></mat-icon>
                    <span>Consultar</span>
                </div>
                <mat-divider></mat-divider>
                <div class="nav-link" (click)="setView('cadastrar')">
                    <mat-icon class="icon" aria-hidden="false" aria-label="Consulta tabela" fontIcon="add"></mat-icon>
                    <span>Cadastrar</span>
                </div>
                <mat-divider></mat-divider>
                <div class="nav-link" (click)="setView('alterar')">
                    <mat-icon class="icon" aria-hidden="false" aria-label="Consulta fase" fontIcon="sync"></mat-icon>
                    <span>Alterar</span>
                </div>
                <mat-divider></mat-divider>
                <div class="nav-link" (click)="setView('deletar')">
                    <mat-icon class="icon" aria-hidden="false" aria-label="Processos" fontIcon="delete"></mat-icon>
                    <span>Deletar</span>
                </div>
                <mat-divider></mat-divider>                
            </div>
        </div>
    </section>
    <section id="processos__form">
        <ng-container [ngSwitch]="viewSelect">
            <div id="processos__form__consultar" *ngSwitchCase="'consultar'">
                <div>
                    <div class="form-control">
                        <mat-form-field appearance="outline">
                            <mat-label>Unidade gestora</mat-label>
                            <mat-select [(ngModel)]="unidadeGestoraSelecionada" name="unidadeGestora">
                                <mat-option *ngFor="let unidadeGestora of unidadesGestoras" [value]="unidadeGestora">
                                    {{ unidadeGestora }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="form-control">
                        <mat-form-field appearance="outline">
                            <mat-label>Número do processo</mat-label>
                            <input 
                                matInput 
                                placeholder="0000000-00.0000.0.00.0000" 
                                [textMask]="{mask: maskProcesso}"
                                [(ngModel)]="processo"
                            />
                        </mat-form-field>
                    </div>
                    <div class="form-control">
                        <button 
                            mat-raised-button 
                            color="primary" 
                            (click)="getProcesso()"
                            >
                                Pesquisar
                            </button>
                    </div>
                </div>
                <div>
                    <app-message 
                        icon="info"
                        type="info" 
                        text="Nenhum dado encontrado">
                    </app-message>
                </div>
            </div>
            <div id="processos__form__cadastrar" *ngSwitchCase="'cadastrar'">
                <div>
                    <div class="form-control">
                        <mat-form-field appearance="outline">
                            <mat-label>Unidade gestora</mat-label>
                            <mat-select [(ngModel)]="unidadeGestoraSelecionada" name="unidadeGestora">
                                <mat-option *ngFor="let unidadeGestora of unidadesGestoras" [value]="unidadeGestora">
                                    {{ unidadeGestora }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="form-control">
                        <mat-form-field appearance="outline">
                            <mat-label>Número do processo</mat-label>
                            <input 
                                matInput 
                                placeholder="0000000-00.0000.0.00.0000" 
                                [textMask]="{mask: maskProcesso}"
                                [(ngModel)]="processo"
                            />
                        </mat-form-field>
                    </div>
                    <div class="form-control">
                        <button 
                            mat-raised-button 
                            color="primary" 
                            (click)="getProcesso()"
                        >
                            Cadastrar
                        </button>
                    </div>
                </div>
                <div>
                    <app-message 
                        icon="check"
                        type="success" text="A API não retornou nenhum resultado">
                    </app-message>
                </div>
            </div>
            <div id="processos__form__alterar" *ngSwitchCase="'alterar'">
                <div>
                    <div class="form-control">
                        <mat-form-field appearance="outline">
                            <mat-label>Unidade gestora</mat-label>
                            <mat-select [(ngModel)]="unidadeGestoraSelecionada" name="unidadeGestora">
                                <mat-option *ngFor="let unidadeGestora of unidadesGestoras" [value]="unidadeGestora">
                                    {{ unidadeGestora }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>                   
                    <div class="form-control">
                        <mat-form-field appearance="outline">
                            <mat-label>Tipo do plano</mat-label>
                            <mat-select [(ngModel)]="planoTipoSelecionado" name="planoTipo">
                                <mat-option *ngFor="let planoTipo of planosTipo" [value]="planoTipo">
                                    {{ planoTipo }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="form-control">
                        <mat-form-field appearance="outline">
                            <mat-label>Ano e mês do plano</mat-label>
                            <input 
                                matInput 
                                placeholder="YYYY/MM" 
                                [textMask]="{mask: maskPlanoAnoMes}"
                                [(ngModel)]="planoAnoMes"
                            />
                        </mat-form-field>
                    </div>
                    <div class="form-control">
                        <mat-form-field appearance="outline">
                            <mat-label>Ano e mês da fase</mat-label>
                            <input 
                                matInput 
                                placeholder="YYYY/MM" 
                                [textMask]="{mask: maskPlanoAnoMes}"
                                [(ngModel)]="faseAnoMes"
                            />
                        </mat-form-field>
                    </div>
                    <div class="form-control">
                        <button 
                            mat-raised-button 
                            color="primary" 
                            (click)="getProcesso()"
                        >
                            Alterar
                        </button>
                    </div>
                </div>
                <div>
                    <app-message 
                        icon="warning"
                        type="danger" 
                        text="Não foi possível alterar o processo">
                    </app-message>
                </div>
            </div>
            <div id="processos__form__deletar" *ngSwitchCase="'deletar'">
                <div>
                    <div class="form-control">
                        <mat-form-field appearance="outline">
                            <mat-label>Número do processo</mat-label>
                            <input 
                                matInput 
                                placeholder="0000000-00.0000.0.00.0000" 
                                [textMask]="{mask: maskPlanoAnoMes}"
                                [(ngModel)]="processo"
                            />
                        </mat-form-field>
                    </div>
                    <div class="form-control">
                        <mat-form-field appearance="outline">
                            <mat-label>Unidade gestora</mat-label>
                            <mat-select [(ngModel)]="unidadeGestoraSelecionada" name="unidadeGestora">
                                <mat-option *ngFor="let unidadeGestora of unidadesGestoras" [value]="unidadeGestora">
                                    {{ unidadeGestora }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="form-control">
                        <mat-form-field appearance="outline">
                            <mat-label>Tipo do plano</mat-label>
                            <mat-select [(ngModel)]="planoTipoSelecionado" name="planoTipo">
                                <mat-option *ngFor="let planoTipo of planosTipo" [value]="planoTipo">
                                    {{ planoTipo }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="form-control">
                        <mat-form-field appearance="outline">
                            <mat-label>Ano e mês do plano</mat-label>
                            <input 
                                matInput 
                                placeholder="YYYY/MM" 
                                [textMask]="{mask: maskPlanoAnoMes}"
                                [(ngModel)]="planoAnoMes"
                            />
                        </mat-form-field>
                    </div>
                    <div class="form-control">
                        <mat-form-field appearance="outline">
                            <mat-label>Ano e mês da fase</mat-label>
                            <input 
                                matInput 
                                placeholder="YYYY/MM" 
                                [textMask]="{mask: maskPlanoAnoMes}"
                                [(ngModel)]="faseAnoMes"
                            />
                        </mat-form-field>
                    </div>                                        
                    <div class="form-control">
                        <button 
                            mat-raised-button 
                            color="primary" 
                            (click)="getProcesso()"
                        >
                            Deletar
                        </button>
                    </div>
                </div>
                <div>
                    <app-message 
                        icon="warning"
                        type="danger" 
                        text="Ateção! A ação não poderá ser desfeita">
                    </app-message>
                </div>
            </div>
        </ng-container>
    </section>
</div>