#app-container {
    height: 100%;
    max-height: 100%;
    display: grid;
    grid-template-rows: auto auto 1fr;
    grid-template-columns: 1fr 5fr;
    grid-template-areas: 
        "header header"
        "sidebar breadcrumb"
        "sidebar body";

    #header-app-container {
        grid-area: header;
    }
    
    #body-app-sidebar {
        grid-area: sidebar;
        overflow-y: auto;
    }

    #body-app-breadcrumb {
        grid-area: breadcrumb;
        overflow-y: auto;
    }

    #body-app-container {
        grid-area: body;
        overflow-y: auto;
    }
}