#app-container {
    height: 100%;
    max-height: 100%;
    display: grid;
    grid-template-rows: auto auto 1fr;
    grid-template-columns: 1fr 5fr;
    grid-template-areas: 
        "header header"
        "sidebar breadcrumb"
        "sidebar body";

    #header-app-container {
        grid-area: header;

        .toolbar-wrapper {
            display: flex;
            align-items: center;
            gap: 1rem;
        }
    }
    
    #body-app-sidebar {
        grid-area: sidebar;
        overflow-y: auto;
    }

    #body-app-breadcrumb {
        grid-area: breadcrumb;
        overflow-y: auto;
    }

    #body-app-container {
        grid-area: body;
        overflow-y: auto;
        // background-image: url('../assets/images/trf1-transparent-opacity.png');
        // background-repeat: no-repeat;
        // background-position: 97.5% 97.5%;
        // background-attachment: fixed;
    }
}