<div id="canvas-container" *ngIf="tableData?.length">
    <div id="header-container">
        <mat-toolbar color="primary">
            <span>TRF1-SISPREC</span>
        </mat-toolbar>
    </div>
    <div id="table-container">
        <section class="table-container" tabindex="0">
            <table 
              mat-table 
              matTableExporter
              #exporter="matTableExporter"
              [dataSource]="dataSource" 
              matSort (matSortChange)="announceSortChange($event)"
              class="canvas-table"
            >
                <!-- Checkbox Column -->
                <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox
                            *ngIf="tableHasAnyData()"
                            color="primary"
                            (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()"
                        >
                        </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let row">
                    <mat-checkbox 
                        color="primary"
                        (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)"
                    >
                    </mat-checkbox>
                    </td>
                </ng-container>
                                
                <!-- NRO PROCESSO -->
                <ng-container matColumnDef="processo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar pelo processo">
                        Processo
                    </th>
                    <td mat-cell *matCellDef="let element">{{ element.processo }}</td>
                </ng-container>
                
                <!-- NRO REQUISICAO -->
                <ng-container matColumnDef="numeroRequisicao">
                    <th 
                        mat-header-cell 
                        *matHeaderCellDef 
                        mat-sort-header 
                        sortActionDescription="Ordenar pelo número da requisição"
                    >
                        Nro. Requisição
                    </th>
                    <td mat-cell *matCellDef="let element">{{ element.numeroRequisicao }}</td>
                </ng-container>
                
                <!-- BENEFICIARIO -->
                <ng-container matColumnDef="beneficiario">
                    <th 
                        mat-header-cell 
                        *matHeaderCellDef 
                        mat-sort-header 
                        sortActionDescription="Ordenar pelo beneficiário"
                    >
                        Beneficiário
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.beneficiario}} </td>
                </ng-container>
            
                <!-- CLASSE -->
                <ng-container matColumnDef="classe">
                    <th 
                        mat-header-cell 
                        *matHeaderCellDef 
                        mat-sort-header 
                        sortActionDescription="Ordenar pela classe"
                    >
                        Classe
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.classe}} </td>
                </ng-container>
            
                <!-- TIPO REQUISICAO -->
                <ng-container matColumnDef="tipoRequisicao">
                    <th 
                        mat-header-cell 
                        *matHeaderCellDef 
                        mat-sort-header 
                        sortActionDescription="Ordernar pelo tipo da requisição"
                    >
                        Tipo de Requisição
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.tipoRequisicao}} </td>
                </ng-container>

                <tr class="table-header" mat-header-row *matHeaderRowDef="headerColumns; sticky: true"></tr>
                <tr 
                    mat-row 
                    *matRowDef="let row; columns: headerColumns;"
                >
                </tr>
            </table>
            <div *ngIf="selection.selected.length" class="selected-total-container">{{ selection.selected.length }} registros selecionados</div>
        </section>
    </div>
    <div id="export-cta-container">
        <div>
            <button mat-raised-button class="export-button" color="primary" (click)="exporter.exportTable('xlsx', {fileName: 'processos'})">EXCEL</button>
            <button mat-raised-button class="export-button" color="primary" (click)="exporter.exportTable('txt', {fileName: 'processos'})">TXT</button>
            <button mat-raised-button class="export-button" color="primary" (click)="exporter.exportTable('csv', {fileName: 'processos'})">CSV</button>
            <button mat-raised-button class="export-button" color="primary" (click)="exporter.exportTable('json', {fileName: 'processos'})">JSON</button>
        </div>
        <div>
            <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
        </div>
    </div>
</div>