#consulta-fase-container {
    height: 100%;
    overflow-y: auto;
    max-height: 100%;
    display: flex;
    flex-direction: column;

    section {
        padding: 1rem;
        display: flex;
        align-items: center;
        gap: 1rem;

        &#form {
            background-color: #fafafa;
            display: flex;
            align-items: center;
            padding: 1rem;
            gap: 1rem;
            border-bottom: 1px solid #ddd;
            grid-area: filter;
        }

        .form-control {
            display: flex;
            align-items: center;
        }
    }

    
}