#consulta-fase-container {
    height: 100%;
    overflow-y: auto;
    max-height: 100%;
    display: flex;
    flex-direction: column;

    section {
        padding: 1rem;
        display: flex;
        align-items: center;
        gap: 1rem;
        
        
        &#form {            
            background-color: #fafafa;
            display: flex;
            align-items: center;
            padding: 1rem;
            gap: 1rem;
            border-bottom: 1px solid #ddd;
            grid-area: filter;
        }

        .form-control {
            display: flex;
            align-items: center;
        }

        &#data {
            height: 100%;
            max-height: 100%;
            overflow-y: auto;
            align-items: flex-start;

            .mat-accordion {
                width: 100% !important;
            }

            .fase-container {

                .row {
                    display: flex;
                    
                    > div {
                        padding: 1rem;
                        
                        &:first-child {
                            flex: 1;
                            background-color: #fafafa;
                            border: 1px solid #ddd;
                        }

                        &:last-child {
                            flex:4;
                        }
                    }
                }

                .consolidacoes {
                    > div {
                        display: flex;
                        
                        div {
                            padding: 1rem;
                            
                            &:first-child {
                                background-color: #fafafa;
                                border: 1px solid #ddd;
                                flex: 1;
                            }
    
                            &:last-child {
                                flex: 4;
                            }
                        }
                    }
                }
            }
        }
    }
}