<div class="fase">
    
    <Accordion>

        <!-- fase -->
        <Expand title="Fase {{ fase?.aberturaData | date: 'dd/MM/yyyy hh:mm:ss' }}" *ngIf="fase">            
            <ExpandContent key="Sequencial" [value]="fase.sequencial" />
            <ExpandContent key="Mês" [value]="fase.mes" />
            <ExpandContent key="Ano" [value]="fase.ano" />
            <ExpandContent key="Ano exercício orçamentário" value="{{fase.anoExercicioOrcamentario}}" />
            <ExpandContent key="Código sufixo Siaf" value="{{fase.codSufixoProcessoSiaf}}" />
            <ExpandContent key="Data de cancelamento" value="{{fase.cancelamentoData | date: 'dd/MM/yyyy hh:mm:ss'}}" />
            <ExpandContent key="Data de exclusao" value="{{fase.exclusaoData | date: 'dd/MM/yyyy hh:mm:ss'}}" />
            <ExpandContent key="Data fim de exclusao" value="{{fase.fimExclusaoData | date: 'dd/MM/yyyy hh:mm:ss'}}" />
            <ExpandContent key="Data de registro" value="{{fase.registroData | date: 'dd/MM/yyyy hh:mm:ss'}}" />
            <ExpandContent key="Data de abertura" value="{{fase.aberturaData | date: 'dd/MM/yyyy hh:mm:ss'}}" />
            <ExpandContent key="Data de fechamento" value="{{fase.fechamentoData | date: 'dd/MM/yyyy hh:mm:ss'}}" />
            <ExpandContent key="Data de fechamento" value="{{fase.fechamentoData | date: 'dd/MM/yyyy hh:mm:ss'}}" />
            <ExpandContent key="SiopWEB envio" value="{{fase.siopWebEnvio}}" />
            <ExpandContent key="Processos indicados para pagamento enviar/excluir?" value="{{fase.processosIndicadosParaPagamentoEnviarExcluir}}" />
            <ExpandContent key="Descrição" value="{{fase.descricao}}" />
            <br>  

            <!-- plano -->
            <Expand title="Plano #{{fase?.plano?.sequencial}}" *ngIf="fase.plano">
                <ExpandContent key="Sequencial" value="{{fase.plano.sequencial}}" />
                <ExpandContent key="Mês" value="{{fase.plano.mes}}" />
                <ExpandContent key="Tipo" value="{{fase.plano.tipo}}" />
                <ExpandContent key="Tipo descrição" value="{{fase.plano.tipoDescricao}}" />
                <ExpandContent key="Descrição" value="{{fase.plano.descricao}}" />
                <br>
    
                <!-- unidade gestora -->
                <Expand title="Unidade gestora #{{fase?.plano?.unidadeGestora?.sequencial}}" *ngIf="fase.plano.unidadeGestora">                    
                    <ExpandContent key="Sequencial" value="{{fase.plano.unidadeGestora.sequencial}}" />
                    <ExpandContent key="Código" value="{{fase.plano.unidadeGestora.codigo}}" />
                    <ExpandContent key="Descrição" value="{{fase.plano.unidadeGestora.descricao}}" />
                    <ExpandContent key="Abreviatura" value="{{fase.plano.unidadeGestora.abreviatura}}" />
                    <ExpandContent key="Número tribunal" value="{{fase.plano.unidadeGestora.numTribunal}}" />
                    <ExpandContent key="Tipo descrição" value="{{fase.plano.unidadeGestora.tipoDescricao}}" />
                    <ExpandContent key="Descrição" value="{{fase.plano.unidadeGestora.descricao}}" />
                    <br>
                    
                    <!-- unidade -->
                    <Expand title="Unidade #{{ fase?.plano?.unidadeGestora?.unidade?.sequencial }}" *ngIf="fase.plano.unidadeGestora.unidade">
                        <ExpandContent key="Sequencial" value="{{fase.plano.unidadeGestora.codigo}}" />
                        <ExpandContent key="Código" value="{{fase.plano.unidadeGestora.nome}}" />
                        <ExpandContent key="Nome" value="{{fase.plano.unidadeGestora.abreviatura}}" />
                        <ExpandContent key="Abreviatura" value="{{fase.plano.unidadeGestora.utilizacaoInicioData}}" />
                        <ExpandContent key="Utilização início data" value="{{fase.plano.unidadeGestora.utilizacaoInicioData}}" />
                        <ExpandContent key="Utilização fim data" value="{{fase.plano.unidadeGestora.utilizacaoFimData}}" />                        
                        <br>
                        
                        <!-- unidade superior -->
                        <Expand title="Unidade superior #{{ fase?.plano?.unidadeGestora?.unidade?.unidadeSuperior?.sequencial }}" *ngIf="fase.plano.unidadeGestora.unidade.unidadeSuperior">
                            <ExpandContent key="Sequencial" value="{{fase?.plano?.unidadeGestora?.unidade?.unidadeSuperior?.sequencial}}" />                        
                            <ExpandContent key="Código" value="{{fase?.plano?.unidadeGestora?.unidade?.unidadeSuperior?.codigo}}" />                        
                            <ExpandContent key="Nome" value="{{fase?.plano?.unidadeGestora?.unidade?.unidadeSuperior?.nome}}" />                        
                            <ExpandContent key="Abreviatura" value="{{fase?.plano?.unidadeGestora?.unidade?.unidadeSuperior?.abreviatura}}" />                        
                            <ExpandContent key="Utilização início data" value="{{fase?.plano?.unidadeGestora?.unidade?.unidadeSuperior?.utilizacaoInicioData}}" />                        
                            <ExpandContent key="Utilização fim data" value="{{fase?.plano?.unidadeGestora?.unidade?.unidadeSuperior?.utilizacaoFimData}}" />
                        </Expand>
                        <!-- /unidade superior -->
                        
                    </Expand>
                    <!-- /unidade -->
                    
                </Expand>
                <!-- /unidade gestora -->
                
            </Expand>
            <!-- /plano -->
            
            <br>

            <!-- fase tipo -->
            <Expand title="Fase tipo #{{fase?.faseTipo?.sequencial }}">
                <ExpandContent key="Sequencial" value="{{fase?.faseTipo?.sequencial}}" />
                <ExpandContent key="Código" value="{{fase?.faseTipo?.codigo}}" />
                <ExpandContent key="Descrição" value="{{fase?.faseTipo?.descricao}}" />
                <ExpandContent key="Origem" value="{{fase?.faseTipo?.origem}}" />
                <ExpandContent key="Utilização fim" value="{{fase?.faseTipo?.utilizacaoFim}}" />
                <ExpandContent key="Observação" value="{{fase?.faseTipo?.observacao}}" />
                <ExpandContent key="Parcela número" value="{{fase?.faseTipo?.parcelaNumero}}" />
            </Expand>
            <br>
            <!-- /fase tipo -->
            
            <!-- unidade gestora -->
            <Expand title="Unidade gestora #{{fase?.unidadeGestora?.sequencial}}">                
                <ExpandContent key="Sequencial" value="{{fase?.unidadeGestora?.sequencial}}" />
                <ExpandContent key="Código" value="{{fase?.unidadeGestora?.codigo}}" />
                <ExpandContent key="Descrição" value="{{fase?.unidadeGestora?.descricao}}" />
                <ExpandContent key="Abreviatura" value="{{fase?.unidadeGestora?.abreviatura}}" />
                <ExpandContent key="Número tribunal" value="{{fase?.unidadeGestora?.nomeTribunal}}" />
                <ExpandContent key="Tipo descrição" value="{{fase?.unidadeGestora?.tipoDescricao}}" />
                <ExpandContent key="Descrição" value="{{fase?.unidadeGestora?.descricao}}" />
                <br>

                <!-- unidade -->
                <Expand title="Unidade #{{ fase?.unidadeGestora?.unidade?.sequencial }}">    
                    <ExpandContent key="Sequencial" value="{{fase?.unidadeGestora?.unidade?.sequencial}}" />
                    <ExpandContent key="Código" value="{{fase?.unidadeGestora?.unidade?.codigo}}" />
                    <ExpandContent key="Nome" value="{{fase?.unidadeGestora?.unidade?.nome}}" />
                    <ExpandContent key="Abreviatura" value="{{fase?.unidadeGestora?.abreviatura}}" />
                    <ExpandContent key="Utilização início data" value="{{fase?.unidadeGestora?.utilizacaoInicioData}}" />
                    <ExpandContent key="Utilização fim data" value="{{fase?.unidadeGestora?.utilizacaoFimData}}" />
                    <br>

                    <!-- unidade superior -->
                    <Expand title="Unidade superior #{{ fase?.unidadeGestora?.unidade?.unidadeSuperior?.sequencial }}">
                        <ExpandContent key="Sequencial" value="{{fase?.unidadeGestora?.unidade?.unidadeSuperior?.sequencial}}" />
                        <ExpandContent key="Código" value="{{fase?.unidadeGestora?.unidade?.unidadeSuperior?.codigo}}" />
                        <ExpandContent key="Nome" value="{{fase?.unidadeGestora?.unidade?.unidadeSuperior?.nome}}" />
                        <ExpandContent key="Abreviatura" value="{{fase?.unidadeGestora?.unidade?.unidadeSuperior?.abreviatura}}" />
                        <ExpandContent key="UtilizacaoInicioData" value="{{fase?.unidadeGestora?.unidade?.unidadeSuperior?.utilizacaoInicioData}}" />
                        <ExpandContent key="utilizacaoFimData" value="{{fase?.unidadeGestora?.unidade?.unidadeSuperior?.utilizacaoFimData}}" />
                    </Expand>
                    <!-- /unidade superior -->
    
                </Expand>
                <br>
                <!-- /unidade -->
                
            </Expand>
            <br>
            <!-- /unidade gestora -->
            
            <!-- consolidacoes -->
            <Expand title="Consolidações">                
                <ng-container *ngFor="let consolidacao of fase.consolidacoes">
                    
                    <!-- consolidacao -->
                    <Expand title="Consolidacao #{{consolidacao?.sequencial}}">                        
                        <ExpandContent key="Sequencial" value="{{consolidacao?.sequencial}}" />
                        <ExpandContent key="Fase sequencial" value="{{consolidacao?.faseSequencial}}" />
                        <ExpandContent key="Ordem" value="{{consolidacao?.ordem}}" />
                        <ExpandContent key="Registro data" value="{{consolidacao?.registroData}}" />
                        <ExpandContent key="Parcela" value="{{consolidacao?.parcela}}" />
                        <ExpandContent key="Soma" value="{{consolidacao?.soma}}" />
                        <ExpandContent key="Conta" value="{{consolidacao?.conta}}" />
                        <br>

                        <!-- tipo -->
                        <Expand title="Tipo #{{consolidacao?.tipo?.codigo}}">                            
                            <ExpandContent key="Sequencial" value="{{consolidacao?.tipo?.sequencial}}" />
                            <ExpandContent key="Código" value="{{consolidacao?.tipo?.codigo}}" />
                            <ExpandContent key="Descrição" value="{{consolidacao?.tipo?.descricao}}" />
                        </Expand>
                        <!-- /tipo -->
    
                    </Expand>
                    <br>
                    <!-- /consolidacao -->
    
                </ng-container>
            </Expand>
            <!-- /consolidacoes -->
        </Expand>
        <!-- /fsae -->
    </Accordion>
    
</div>