.fase { 
    overflow-y: auto;
    max-height: 100%;
}

.container {
    display: flex;    
    border: 1px solid inherit;
    
    &:hover {
        border: 1px solid #222;
    }

    div {
        padding: 1rem;
        flex: 1;
        border: 1px solid #ddd;
    }

    div:first-child {
        background-color: #fafafa;
    }
}

.accordion {
    overflow-y: auto;
    display: flex;
}

.panel {
    width: 100%;
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
}