.fase { 
    overflow-y: auto;
    max-height: 100%;
    padding: 1rem 1rem 0 1rem;

    &:last-child {
        padding-bottom: 1rem;
    }
}

.container {
    display: flex;    
    
    &:hover {
        border: 1px solid #222;
    }

    >div {
        padding: 1rem;
        flex: 1;
        border: 1px solid #ddd;
    }

    >div:first-child {
        background-color: #fafafa;
    }
}

.accordion {
    overflow-y: auto;
    display: flex;
    gap: 0.5rem 0.5rem 0 0.5rem;
}

.panel {
    width: 100%;
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
}