<div id="sidebar-container">
    <div class="nav-container">
        <mat-list role="list">
            <mat-list-item role="listitem">
                <button mat-button [routerLink]="['/']">Consulta tabela</button>
            </mat-list-item>
            <mat-list-item role="listitem">
                <button mat-button [routerLink]="['/consulta-fase']">Consulta fase</button>
            </mat-list-item>
            <mat-list-item role="listitem">
                <button mat-button [routerLink]="['/processos']">Processos</button>
            </mat-list-item>
        </mat-list>
    </div>
</div>