.processo {

    .container {
        display: flex;
        flex-direction: column;

        div {
            display: flex;

            div:first-child {
                flex: 1;
                background-color: #fafafa;
                border: 1px solid #ddd;
                padding: 1rem;
            }
            
            div:last-child {
                flex: 3;
                padding: 1rem;
            }
        }
    }
}