.processo {

    &__sequencial,
    &__autuacaoData,
    &__autuacaoOriginariaData,
    &__beneficiariosConta,
    &__beneficiariosSomaValores,
    &__bloqueio,
    &__cancelamentoData,
    &__causaTipo,
    &__dataBaseUltimoCalculo,
    &__exclusaoData,
    &__gruNumero,
    &__inclusaoData,
    &__mesPrevisaoPagamento,
    &__nomeIndiceAdotadoAtualizacaoMonetaria,
    &__observacao,
    &__paragrafo20Artigo1100ConsituticaoFederal,
    &__processoAjuizamentoData,
    &__processoNumero,
    &__processoNumeroOrigem,
    &__processosAnteriores,
    &__registroData,
    &__reinclusaoLei13463,
    &__transitoJulgadoData,
    &__tributario,
    &__unidadeJudicialTipo,
    &__valorOriginalUltimoCalculo,
    &__unidadeExecutada__abreviatura,
    &__unidadeExecutada__codigo,
    &__unidadeExecutada__nome,
    &__unidadeExecutada__sequencial,
    &__unidadeExecutada__utilizacaoFimData,
    &__unidadeExecutada__utilizacaoInicioData,
    &__unidadeExecutada__unidadeSuperior__abreviatura,
    &__unidadeExecutada__unidadeSuperior__codigo,
    &__unidadeExecutada__unidadeSuperior__nome,
    &__unidadeExecutada__unidadeSuperior__sequencial,
    &__unidadeExecutada__unidadeSuperior__siafiCodigo,
    &__unidadeExecutada__unidadeSuperior__siopCodigo,
    &__unidadeExecutada__unidadeSuperior__unidadeSuperior,
    &__unidadeExecutada__unidadeSuperior__utilizacaoFimData,
    &__unidadeExecutada__unidadeSuperior__utilizacaoInicioData,
    &__despesaClassificacao__alimentar,
    &__despesaClassificacao__despesaTipoCodigo,
    &__despesaClassificacao__despesaTipoDescricao,
    &__despesaClassificacao__despesaTipoSequencial,
    &__despesaClassificacao__naturezaDespesaCodigo,
    &__despesaClassificacao__naturezaDespesaDescricao,
    &__despesaClassificacao__naturezaDespesaSequencial,
    &__despesaClassificacao__sequencial,
    &__despesaClassificacao__utilizacaoFimData,
    &__despesaClassificacao__utilizacaoInicioData,
    &__sentencaTipo__codigo,
    &__sentencaTipo__descricao,
    &__sentencaTipo__utilizacaoFim,
    &__acaoOriginaria__unidadesJudiciais__autuacaoOriginariaData,
    &__acaoOriginaria__unidadesJudiciais__codigo,
    &__acaoOriginaria__unidadesJudiciais__descricao,
    &__acaoOriginaria__unidadesJudiciais__entrada,
    &__acaoOriginaria__unidadesJudiciais__registroData,
    &__acaoOriginaria__unidadesJudiciais__saida,
    &__acaoOriginaria__unidadesJudiciais__sequencial,
    &__acaoOriginaria__unidadesJudiciais__municipio__codigo,
    &__acaoOriginaria__unidadesJudiciais__municipio__descricao,
    &__acaoOriginaria__unidadesJudiciais__municipio__sequencial,
    &__acaoOriginaria__unidadesJudiciais__municipio__uf,
    &__acaoOriginaria__unidadesJudiciais__acaoOriginariaUnidadeJudicialSequencial,
    &__acaoOriginaria__unidadesJudiciais__unidadeTipo__codigo,
    &__acaoOriginaria__unidadesJudiciais__unidadeTipo__descricao,
    &__acaoOriginaria__unidadesJudiciais__unidadeTipo__natureza,
    &__acaoOriginaria__unidadesJudiciais__unidadeTipo__sequencial,
    &__acaoOriginaria__unidadesJudiciais__unidadeTipo__utilizacaoFim,
    &__acaoOriginaria__unidadesJudiciais__utilizacaoFimData,
    &__acaoOriginaria__unidadesJudiciais__utilizacaoInicioData,
    &__contaBancaria__agenciaNumero,
    &__contaBancaria__bancoNumero,
    &__contaBancaria__contaCodigo,
    &__contaBancaria__sequencial,
    &__identificacaoTipo__codigo,
    &__identificacaoTipo__descricao,
    &__identificacaoTipo__sequencial,
    &__identificacaoTipo__utilizacaoFim,
    &__unidadeCadastradora__abreviatura,
    &__unidadeCadastradora__codigo,
    &__unidadeCadastradora__unidadeSuperior__codigo,
    &__unidadeCadastradora__unidadeSuperior__sequencial,
    &__unidadeCadastradora__unidadeSuperior__abreviatura,
    &__unidadeCadastradora__unidadeSuperior__nome,
    &__unidadeCadastradora__unidadeSuperior__sequnecial,
    &__unidadeCadastradora__unidadeSuperior__siafiCodigo,
    &__unidadeCadastradora__unidadeSuperior__siopCodigo,
    &__unidadeCadastradora__unidadeSuperior__unidadeSuperior,
    &__unidadeCadastradora__unidadeSuperior__utilizacaoFimData,
    &__unidadeCadastradora__unidadeSuperior__utilizacaoInicioData,
    &__unidadeCadatradora__utilizacaoInicioData,
    &__unidadeCadatradora__utilizacaoFimData,
    &__unidadeCadastradora__nome,
    &__movimentoTipo__codigo,
    &__movimentoTipo__descricao,
    &__movimentoTipo__sequencial,
    &__movimentoTipo__utilizacaoFim,
    &__pessoa__codigoCpfCnpj,
    &__pessoa__falecimentoData,
    &__pessoa__nascimentoData,
    &__pessoa__nome,
    &__pessoa__nomeSocial,
    &__pessoa__principal,
    &__pessoa__razaoSocial,
    &__pessoa__sequencial,
    &__valores__agenciaNumero,
    &__valores__bancoNumero,
    &__valores__cancelamentoData,
    &__valores__parcelaCorrenteIndicador,
    &__valores__beneficiarioSequencial,
    &__valores__contaCodigo,
    &__valores__debitoIdentificacao,
    &__valores__documentoTipo,
    &__valores__eventoData,
    &__valores__ordemPagamento107Atipo,
    &__valores__parcelaNumero,
    &__valores__registroData,
    &__valores__receitaCodigo,
    &__valores__codigo,
    &__valores__sequencial,
    &__valores__valor,
    &__valores__tipo__codigo,
    &__valores__tipo__contextoUtilizacaoCodigo,
    &__valores__tipo__descricao,
    &__valores__tipo__observacao,
    &__valores__tipo__processoBeneficiarioCodigo,
    &__valores__tipo__sequencial,
    &__valores__tipo__utilizacaoFim {
        display: flex;
        width: 100%;
        border: 1px solid #ddd;

        &:hover {
            border: 1px solid #222;
        }
        
        >div:first-child {
            padding: 1rem;
            background-color: #fafafa;
            flex: 1;
            border-right: 1px solid #ddd;
        }
        
        >div:last-child {
            padding: 1rem;
            flex: 1;
        }
    }

    &__acaoOriginaria {
        &__ajuizamentoData,
        &__numero,
        &__sequencial,
        &__unidadeJudicial,
        &__unidadesJudiciais__acaoOriginaria__acaoOriginariaUnidadeJudicialSequencial,
        &__unidadesJudiciais__acaoOriginaria__codigo,
        &__unidadesJudiciais__acaoOriginaria__descricao,
        &__unidadesJudiciais__acaoOriginaria__entrada,
        &__unidadesJudiciais__acaoOriginaria__municipio,
        &__unidadesJudiciais__acaoOriginaria__registroData,
        &__unidadesJudiciais__acaoOriginaria__saida,
        &__unidadesJudiciais__acaoOriginaria__sequencial,
        &__unidadesJudiciais__acaoOriginaria__unidadeTipo,
        &__unidadesJudiciais__acaoOriginaria__utilizacaoFimData,
        &__unidadesJudiciais__acaoOriginaria__utilizacaoInicioData {
            display: flex;
            width: 100%;
            border: 1px solid #ddd;
    
            &:hover {
                border: 1px solid #222;
            }
            
            >div:first-child {
                padding: 1rem;
                background-color: #fafafa;
                flex: 1;
                border-right: 1px solid #ddd;
            }
            
            >div:last-child {
                padding: 1rem;
                flex: 1;
            }
        }
    }

    &__advogados {
        &__codigoCpfCnpj,
        &__falecimentoData,
        &__nascimentoData,
        &__nome,
        &__nomeSocial,
        &__principal,
        &__razaoSocial,
        &__sequencial {
            display: flex;
            width: 100%;
            border: 1px solid #ddd;
    
            &:hover {
                border: 1px solid #222;
            }
            
            >div:first-child {
                padding: 1rem;
                background-color: #fafafa;
                flex: 1;
                border-right: 1px solid #ddd;
            }
            
            >div:last-child {
                padding: 1rem;
                flex: 1;
            }
        }
    }

    &__assunto {
        &__codigo,
        &__codigoCnj,
        &__dataAtualizacao,
        &__descricao,
        &__descricaoCnj,
        &__sequencial {
            display: flex;
            width: 100%;
            border: 1px solid #ddd;
    
            &:hover {
                border: 1px solid #222;
            }
            
            >div:first-child {
                padding: 1rem;
                background-color: #fafafa;
                flex: 1;
                border-right: 1px solid #ddd;
            }
            
            >div:last-child {
                padding: 1rem;
                flex: 1;
            }
        }
    }

    &__beneficiarios {
        &__advogadoCausa,
        &__antecessores,
        &__cancelamentoData,
        &__codigoBeneficiarioCompensacaoGPS,
        &__compensacaoData,
        &__competenciaExpedicaoAno,
        &__condicaoServidorTipo,
        &__exercicioAnteriorNumeroMeses,
        &__exercicioCorrenteNumeroMeses,
        &__intimacaoData,
        &__isentoIRRF,
        &__nascimentoData,
        &__portadorDeficiencia,
        &__portadorDoencaGrave,
        &__registroData,
        &__sucessaoTipo,
        &__unidadeLotacao,
        &__sequencial,
        &__beneficiarioTipo__codigo,
        &__beneficiarioTipo__descricao,
        &__beneficiarioTipo__sequencial,
        &__beneficiarioTipo__utilizacaoFim,
        &__contaBancaria__agenciaNumero,
        &__contaBancaria__bancoNumero,
        &__contaBancaria__contaCodigo,
        &__contaBancaria__sequencial,
        &__identificacaoTipo__codigo,
        &__identificacaoTipo__descricao,
        &__identificacaoTipo__sequencial,
        &__identificacaoTipo__utilizacaoFim,
        &__movimentoTipo__codigo,
        &__movimentoTipo__descricao,
        &__movimentoTipo__sequencial,
        &__movimentoTipo__utilizacaoFim,
        &__pessoa__codigoCpfCnpj,
        &__pessoa__falecimentoData,
        &__pessoa__nascimentoData,
        &__pessoa__nome,
        &__pessoa__nomeSocial,
        &__pessoa__principal,
        &__pessoa__razaoSocial,
        &__pessoa__sequencial,
        &__valores__agenciaNumero,
        &__valores__bancoNumero,
        &__valores__beneficiarioSequencial,
        &__valores__contaCodigo,
        &__valores__debitoIdentificacao,
        &__valores__documentoTipo,
        &__valores__eventoData,
        &__valores__ordemPagamento107ATipo,
        &__valores__parcelaNumero,
        &__valores__receitaCodigo,
        &__valores__sequencial,
        &__valores__valor,
        &__valores__tipo__codigo,
        &__valores__tipo__contextoUtilizacaoCodigo,
        &__valores__tipo__descricao,
        &__valores__tipo__observacao,
        &__valores__tipo__processoBeneficiarioCodigo,
        &__valores__tipo__sequencial,
        &__valores__tipo__utilizacaoFim {
            display: flex;
            width: 100%;
            border: 1px solid #ddd;
    
            &:hover {
                border: 1px solid #222;
            }
            
            >div:first-child {
                padding: 1rem;
                background-color: #fafafa;
                flex: 1;
                border-right: 1px solid #ddd;
            }
            
            >div:last-child {
                padding: 1rem;
                flex: 1;
            }
        }
    }

    .container {
        overflow-y: auto;
        padding: 1rem;
    }

    .panel {
        margin: 1rem 0;
    }
}