#breadcrumb-container {
    padding: 1rem;
    background-color: #f3f3f3;
    display: flex;
    color: #999999;
    border-bottom: 1px solid #ddd;

    > div {
        display: flex;
        align-items: center;

        &:last-child {
            .icon {
                display: none;
            }
        }
    }

    .label {
        font-size: 0.8rem;

        &:hover {
            text-decoration: underline;
            color: #222;
            cursor: pointer;
        }
    }

    .icon {
        display: flex;
        place-content: center;
    }
}