@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-button {
    width: 100px !important;
    height: 30px !important;
    font-size: 12px !important;
    display: none;
}
